# Environment variables
.env
*.env
!.env.example

# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
dist-ssr/
**/dist-ssr/
build/
**/build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads / Temp files
uploads/
**/uploads/*
!**/uploads/.gitkeep
